.principal-texto{
	grid-column: 4 / 6;
	grid-row: 2 / 4;
	font-family: 'arial', sans-serif;
	margin: 0 16px;
	text-align: justify;
	font-size: 24px;
}
.principal-titulo{
	font-size: 32px;
	margin:0 0 2% 0;
	padding: 16px 0;
	border-bottom: 1px solid black;
	font-weight: bold;
}

.contato-titulo{
	grid-column: 2/6;
	grid-row: 5;
	font-size: 32px;
	margin:2% 0 2% 0;
	padding: 16px 0;
	font-weight: bold;
	font-family: arial;
}
.contato-texto{
	grid-column: 2/6;
	grid-row: 6;
	font-family: Arial, sans-serif;
	text-align: justify;
	font-size: 24px;
	font-weight: 300;
}

.contato-texto .principal-texto{
	margin: 0 0 0 0;
}

.contatos{
	grid-row: 7;
	grid-column: 2/6;
	margin: 5%;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.contatos .ctt-titulo{
	margin: 5% 0 2%;
	font-size: 24px;
	font-weight: 700;
	color: #7A7A7A;
}

.contatos .btn-ctt{
	padding: 16px;
	width: 100%;
	max-width: 240px;
	border: 2px solid	black;
	border-radius: 5%;
	background: white;
	cursor: pointer;
}



.contatos .btn-ctt img{
	width: 50%;
}

@media screen and (max-width: 440px){

	main{
		grid-template-rows: 75px auto auto auto auto auto auto auto ;
	}


	.principal-logo{
		grid-column: 2/6;
		grid-row: 2;
	}
	.principal-titulo{
		text-align: center;
	}
	.principal-texto{
		grid-column: 2/6;
		grid-row: 3;
		text-align: center;
	}
	.contatos .ctt-titulo{
		font-size: 16px;
	}


}