.principal-predio{
	grid-column: 4/7;
	grid-row: 2/4;
}

.principal-predio img{
	justify-self: center;
	align-self: center;
	margin: 2%;
	box-shadow: 0px 0px 15px black;
	width: 79%;
	aspect-ratio: 3/2 ;
}

.conheca-titulo{
	grid-column: 2/6;
	grid-row: 5;
	font-size: 32px;
	padding: 16px 0;
	border-bottom: 1px solid black;
	font-weight: bold;
	font-family: arial;
}

.conheca-texto{
	grid-column: 2/6;
	grid-row: 6;
	font-family: Arial, sans-serif;
	text-align: justify;
	font-size: 32px;
	font-weight: 300;
}

.conheca-texto p{
	margin: 5% 0 ;
}
.principal-mapa-titulo{
	grid-column: 2 / 6;
	grid-row: 7;
	font-family: 'arial', sans-serif;
	margin: 32px 0 ;
}

.principal-mapa{
	grid-column: 1 / 7;
	grid-row: 8 ;
	height: 500px;
}


@media screen and (max-width: 440px){
	.principal-logo{
		grid-column: 2/6;
		grid-row: 2;
	}
	.principal-predio{
	visibility: hidden;
	}
	.conheca-texto{
		font-size: 18px;
}




}